@inject IItemNameService ItemNameService
@using Nekoyume.Model.Elemental
@using Nekoyume.Model.Item
@using NineCWebMarket.Frontend.Models.Extensions
@using NineCWebMarket.Frontend.Models.Mimir
@using NineCWebMarket.Frontend.Services.Interfaces
@using Equipment = NineCWebMarket.Frontend.Models.Equipment

<div class="d-flex">
    <div class="flex-fill">
        @if (Equipment is not null)
        {
            <table class="table table-responsive" id="equipment-info-table-@Item?.Object.ProductId">
                <tbody>
                <tr>
                    <td class="p-0 p-sm-2">@nameof(ItemSubType)</td>
                    <td class="p-0 p-sm-2">@Equipment.ItemSubType</td>
                </tr>
                <tr>
                    <td class="p-0 p-sm-2">@nameof(ElementalType)</td>
                    <td class="p-0 p-sm-2">@Equipment.ElementalType</td>
                </tr>
                <tr>
                    <td class="p-0 p-sm-2">@nameof(Equipment.Grade)</td>
                    <td class="p-0 p-sm-2">@Equipment.Grade</td>
                </tr>
            <tr>
                <td class="p-0 p-sm-2">@nameof(Equipment.Level)</td>
                <td class="p-0 p-sm-2">@Equipment.Level</td>
            </tr>
                @foreach (var stat in Equipment.StatsMap.Value)
                {
                    <tr>
                        <td class="p-0 p-sm-2">@stat.Key</td>
                        <td class="p-0 p-sm-2">@(Math.Round(stat.Value.BaseValue + stat.Value.AdditionalValue))</td>
                    </tr>
                }
                @foreach (var skill in Equipment.Skills)
                {
                    <tr>
                        <td class="p-0 p-sm-2">@nameof(skill.SkillRow.SkillCategory)</td>
                        <td class="p-0 p-sm-2">@skill.SkillRow.SkillCategory</td>
                    </tr>
                    <tr>
                        <td class="p-0 p-sm-2">@nameof(skill.SkillRow.SkillType)</td>
                        <td class="p-0 p-sm-2">@skill.SkillRow.SkillType</td>
                    </tr>
                    <tr>
                        <td class="p-0 p-sm-2">@nameof(skill.Chance)</td>
                        <td class="p-0 p-sm-2">@skill.Chance %</td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</div>


@code {
    [Parameter] public ProductItem? Item { get; set; }

    private ProductItem? _itemProduct;

    private Equipment? Equipment => Item?.Object.Equipment;


    private string? GetItemName()
    {
        if (Equipment is not null)
        {
            return ItemNameService[Equipment.Id];
        }

        return null;
    }

}